<lint-module
    format="1"
    dir="C:\Users\Almas\OneDrive - Pak Tech Wizards\Documents\almas_app\imaan\node_modules\@capacitor\android\capacitor"
    name=":capacitor-android"
    type="LIBRARY"
    maven="android:capacitor-android:unspecified"
    agpVersion="8.13.0"
    buildFolder="C:\Users\Almas\OneDrive - Pak Tech Wizards\Documents\almas_app\imaan\android\.module-build\capacitor-android"
    bootClassPath="C:\Users\Almas\AppData\Local\Android\Sdk\platforms\android-36\android.jar;C:\Users\Almas\AppData\Local\Android\Sdk\build-tools\35.0.0\core-lambda-stubs.jar"
    javaSourceLevel="21"
    compileTarget="android-36"
    neverShrinking="true">
  <lintOptions
      lintConfig="lint.xml"
      baselineFile="lint-baseline.xml"
      abortOnError="true"
      absolutePaths="true"
      warningsAsErrors="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="release"/>
</lint-module>
